*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #dbdbdb;
    font-family: "Open sans";
}

.form_wrap{
    width: 1050px;
    height: 700px;
    margin: 50px auto;
    display: flex;

    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.contact_info::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background: #0b5e19;
    opacity: 0.9;
}

.contact_info{
    width: 38%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url("../111-1.jpg");
    background-size: cover;
    background-position: center center;
}

.info_title,
.info_items{
    position: relative;
    z-index: 2;
    color: seashell;
}

.info_title{
    margin: 60px;
}
.info_title span{
    font-size: 100px;
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.info_title h2{
    font-size: 35px;
    text-align: center;
}

.info_items p{
    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.info_items p:nth-child(1) span{
    font-size: 50px;
    margin-right: 20px;
}

.info_items p:nth-child(2) span{
    font-size: 50px;
    margin-right: 20px;
    margin-left: 4px;
}


form.form_contact{
    width: 62%;
    padding: 30px 40px;
}

form.form_contact h2{
    font-size: 25px;
    font-weight: 600;
    color: #303030;
    margin-bottom: 30px;
}

form.form_contact .user_info{
    display: flex;
    flex-direction: column;
}

form.form_contact label{
    font-weight: 600;
}

form.form_contact input, form.form_contact textarea{
    width: 100%;
    padding: 8px 0px 5px;
    margin-bottom: 20px;

    border: none;
    border-bottom: 2px solid #d1d1d1;

    font-family: 'Open sans';
    color: #5a5a5a;
    font-size: 14px;
    font-weight: 400;
}

form.form_contact textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 90px;
}

form.form_contact input[type="submit"]{
    width: 180px;
    background: #0b5e19;
    padding: 10px;
    border: none;
    border-radius: 25px;

    align-self: flex-end;

    color: #fff;
    font-family: 'Open sans';
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

form.form_contact input[type="submit"]:hover{
    background: #023a0cce;
}

.modal_wrap{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje_modal{
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    width: 400px;
    padding: 30px 20px 15px;
}

.mensaje_modal h3{
    text-align: center;
    font-family: 'ubuntu';
    font-size: 20px;
    font-weight: 400;
}

.mensaje_modal h3:after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #c5c5c5;
    margin: 10px 0px 15px;
}

.mensaje_modal p{
    font-size: 16px;
    color: #606060;
}

.mensaje_modal p::before{
    content: "\f00d";
    font-family: FontAwesome;
    display: inline-block;
    color: #e25151;
    margin-right: 8px;
}

.mensaje_modal #btnClose{
    display: inline-block;
    padding: 3px 10px;
    margin-top: 10px;

    background: #e25151;
    color: #fff;
    border: 2px solid #814181;
    cursor: pointer;


}

.mensaje-exito{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mensaje-exito h1{
    font-size: 35px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.mensaje-exito a{
    display: block;
    padding: 10px 30px;
    background: #0b5e19;
    text-decoration: none;
    color: #fff;
}
.mensaje-exito a{
    background: #057420;
}
